.sign-up-container{
    display: flex;
    flex-direction: column;
    width: 380px;
    h2{
        margin: 10px 0 ;
    }
}

.buttons-container{
    display: flex;
    justify-content: space-between;
}
.google {
        background-color: #4285f4;
        color: white;
        padding: 16px 35px;
        border: 1px solid transparent;
        transition: all .3s ease-in-out;
        font-size: 15px;
        font-weight: bolder;
        transition: all 0.3s ease;
      &:hover{
        border: 1px solid black;
        color: black;
        background-color: transparent;
      }
    }